@import url('https://fonts.googleapis.com/css2?family=Jomhuria&family=Playfair+Display:ital@1&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: Jomhuria;
    box-sizing: border-box;
}
body{
    background-color:#CFC7FF;
    display: flex;
    justify-content: center;
    overflow: hidden;
}
.area-login{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items:center;
}
.login{
    display: flex;
    flex-direction: column;
    align-items:center;
    background-color:#AD9FFF;
    width: 400px;
    height: 500px;
    padding: 35px;
    border-radius:10px;
}
.login form{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.login input{
    margin-top: 10px;
    border-color: black;
    height: 45px;
    border-radius: 15px;
    padding-left: 10px;
}
.login img{
    width: 100px;
    height: auto;
}
.login::placeholder{
    font-size: 14px;
}
.login button [type="submit"]{
    display: block;
    background-color:black;
    font-size: 20px;
    text-decoration: uppercase;
    font-weight: bold;
}
.login button [type="submit"]:hover{
    background-color:black;
    color: white;
}
.login button [type="submit"]:active{
    background-color:black;
    color: white;
}
.login button [type="submit"]:focus{
    background-color:black;
    color: white;
}
.login button [type="submit"]:disabled{
    background-color:black;
    color: white;
}
.login button [type="submit"]:disabled:hover{
    background-color:black;
    color: white;
}
.login button [type="submit"]:disabled:active{
    background-color:black;
    color: white;
}