@import url('https://fonts.googleapis.com/css2?family=Jomhuria&family=Playfair+Display:ital@1&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: Jomhuria;
    box-sizing: border-box;
}
body{
    background-color:#F5F6FA;
}