 @import url('https://fonts.googleapis.com/css2?family=Jomhuria&display=swap');
 @import "navbar";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Jomhuria', serif;
    color: black;
    border: none;
}

body{
    height: 100vh;
    background-color: #EDEFFF;
}

.font{
    font-size: 3rem;
}

.bg-primary-color{
    background-color: #EDEFFF;
    border: none;
}

.bg-second-color{
    background-color: #CFC7FF;
}

.r-border{
    border: none;
}

.start{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 60px;
}

.down{
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    margin-top: 170px;
}

h1.text{
    color: black;
    font-size: 100px;
    margin-left: 150px;
    position: relative;
    margin-bottom: 76px;
}

.obj1{
    top: 300px;
    margin-left: 110px;
    background-color: white;
    position: absolute;
    width: 350px;
    height: 450px;
    border-radius: 15%;
}

.obj2{
    top: 300px;
    margin-left: 110px;
    background-color: white;
    position: absolute;
    width: 350px;
    height: 450px;
    border-radius: 15%;
}

.obj3{
    right: 450px;
    top: 300px;
    margin-left: 110px;
    background-color: white;
    position: absolute;
    width: 350px;
    height: 450px;
    border-radius: 15%;
}

.geral{

}